body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white
}

header {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5rem;
}

#nav-link {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: inherit;
    margin-right: 4rem;
    padding: 2.5rem 5rem;
    text-decoration: none;
}

#watchlist-link:hover{
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
    margin-left: 4rem;
}

#search-field {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2.2rem 9rem 0 9rem;
}

.fa-magnifying-glass {
    color: gray;
    background-color: white;
    padding: 1.16rem 1.5rem 1.16rem 1.5rem;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

#search-input {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
    width: 60%;
}

#search-input:focus {
  outline: none;
}

#search-btn {
    background-color: #F9FAFB;
    border: 1px solid lightgray;
    border-radius: 0 1rem 1rem 0;
    color: black;
    font-size: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}

#exploring {
    color: #DFDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.fa-film {
    font-size: 10rem;
}

#exploring p{
    font-size: 3rem;
    margin: 0;
}



/* Special Styling for watchlist site */

#empty-watchlist {
    color: #DFDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#empty-watchlist p {
    font-size: 2rem;
}

#empty-watchlist a {
    color: #363636;
}

#add-movies {
    color: #363636;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#add-movies p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-decoration: none;
}

.fa-circle-plus {
    margin: 0 1rem 0 0;
    padding: 0;
    font-size: 1.5rem;
}