body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white
}

header {
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5rem;
}

#nav-link {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: inherit;
    margin-right: 4rem;
    padding: 2.5rem 5rem;
    text-decoration: none;
}

#watchlist-link:hover{
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
    margin-left: 4rem;
}

#search-field {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2.2rem 9rem 0 9rem;
}

.fa-magnifying-glass {
    color: gray;
    background-color: white;
    padding: 1.16rem 1.5rem 1.16rem 1.5rem;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

#search-input {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
    width: 60%;
}

#search-input:focus {
  outline: none;
}

#search-btn {
    background-color: #F9FAFB;
    border: 1px solid lightgray;
    border-radius: 0 1rem 1rem 0;
    color: black;
    font-size: 2rem;
    padding: 1rem 3rem 1rem 3rem;
}

#search-btn:hover{
    cursor: pointer;
}

#exploring {
    color: #DFDDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.fa-film {
    font-size: 10rem;
}

#exploring-start{
    font-size: 3rem;
    margin: 0;
}



/* Special Styling for watchlist site */

#watchlist {
    color: #DFDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#watchlist p {
    font-size: 2rem;
}

#watchlist a {
    color: #363636;
}

#add-movies {
    color: #363636;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#add-movies p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-decoration: none;
}

.fa-circle-plus, .fa-circle-minus {
    margin: 0 1rem 0 0;
    padding: 0;
    font-size: 1.5rem;
}

/* Special styling for movie items */

#movie-item{
    display: flex;
    color: black;
    align-items: center;
    width: 70%;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: #E5E7EB 2px solid;
}

#movie-body {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

#movie-poster{
    width: 20%;
}

#movie-head {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.fa-star {
    margin: 0 0 0 1.5rem;
    color: #FEC654;
}

#movie-head h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

#movie-head p {
    margin: 0 0 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 200;
}

#movie-subhead {
    display: flex;
    font-weight: 200;
    font-size: 1.2;
    margin-bottom: 0.5rem;
    align-items: center;
}

#movie-genre {
    margin-left: 1.5rem;
}

#add-plus{
    margin-left: 1.5rem;
}

#movie-item p {
    font-size: 1.5rem;
    font-weight: 200;
}

#add-watchlist-btn {
    display: flex;
    align-items: center;
}

#add-watchlist-btn:hover{
    cursor: pointer;
}

#add-watchlist-btn p {
    margin-left: 0;
}

#add-watchlist-btn .fa-circle-plus,
#add-watchlist-btn .fa-circle-minus {
    margin-right: 0;
}


